*{
    margin: 0%;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

}
body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.first{
    width: 100%;  
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first img{
    width: 130px;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: center;
    
}

.flex span,
i {
    color: white;
}

.logo{
    flex: 0.18;
    margin-right: 10px;
    justify-content: space-between;
}
.map{
    border: 1px solid transparent;
    border-radius: 3px;
}

.map i{
    margin-top: 17px;
    padding-left: 5px;
    font-size: 17px;
}

.map div{
    padding: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.map div span:first-child {
    font-weight: 400;
    font-size: 13px;
}
.map div span{
    font-weight: bold;
}

.right {
    justify-content: space-between;
    flex: 0.29;
    margin-right: 10px;
    align-items: center;
}
.input {
    width: 100%;
    background-color: white;
    flex: 0.53;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.input input{
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none; 
}

.input .fa-search{ 
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0px 5px 5px 0;
}

.input div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    background-color: rgb(236, 234, 234) ;
    padding: 6px 0;
}
.input div span{
    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51);
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;
}

.input .fa-caret-down{
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 5px;
}
.lang i{
    padding: 0;
    margin: 0;
    color: gray;
}
.lang {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;
}
.right img{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}
.sign{
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.sign span:first-child{
    font-weight: 400;
    font-size: 13px;
}
.sign span {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}
.flex .ac span{
    font-size: 15px;
    margin-right: 5px ;
    font-weight: bold;
}
.fa-shopping-cart{
    font-size: 30px;
}
.ca{
    font-size: 14px;
    font-weight: bold;
}
.cart{
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.cart p{
    position: absolute;
    font-weight: bolder;
    color: #131a22;
    top: 7px;
    left: 23px;
}

.cart:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.logo img:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.map:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.lang:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.sign:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.input .fa-search:hover{
    background-color: #fdae46;
}
.input div:hover{
    background-color: rgb(204 , 202, 202);
    color: black;
}

.second{
    width: 100%;
    height: 42px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
       
}
.second ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;

}

.second span{
    font-size: 15px;
}
.second-1 div i{
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second li {
    padding: 5px 10px;
    font-size: 15px;
    margin: 7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second-1{
    flex: 0.06;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-1 div {
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
}
.second-2{
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
}
.second-3{
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    overflow: hidden;
}
.second-3  span{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second-1 div span{
    padding: 5px;
    cursor: pointer;
}
.second-1 div:hover{
    border: 1px solid white;
}

.second-2 li:hover{
    border: 1px solid white;
}
.second-3 span:hover{
    border: 1px solid white;
}

.sec-1{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-box{
    display: flex;
    position: absolute;
    animation: carousel 15s alternate infinite;
}
@keyframes carousel {
    0%{
        left: 0;
    }
    20%{
        left: 0%
    }
    24%{
        left: -1360px;
    }
    50%{
        left: -1360px;
    }
    54%{
        left: calc(-1360*2px);
    }
    80%{
        left: calc(-1360*2px);
    }
    84%{
        left: calc(-1360*3px);
    }
    100%{
        left: calc(-1360*3px);
    }
  
}
.container-1{  /*this conatiner is on top of the slider and it is has a transparent background*/
    position: absolute /*ndaiwala man*/;
    z-index: 1 /*placing on top ,,,z-coordinate waku ele uja*/;
    top: 230px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, transparent, #eaeded 30% );
}
.container-1 .para{
    background-color: rgb(238, 234, 234);
    width: 100%;
    text-align: center;
}
.container-1 div:first-child p{
    font-size: 14px;
    padding: 12px 0;
}
.product-comp{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 20px 0;
    justify-content: space-around /*zochitika ngati center man*/;
}
.product-comp .box{
    width: 315px;
    height: 400px;
    background-color: white;
}
.box h3{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(43, 42, 42);
}
.box a{
    font-size: 13px;
    margin-left: 20px;
    display: block; /*kusanja mwa ndondomeko - stack*/
    padding-top: 30px;
    
}
.box-a{
    overflow: hidden; /*hide the contents that exceeds boundaries*/
    background-color: white;
}
.box div img{
    width: 167px;
    height: 120px;
    cursor: pointer;
    margin-left: -20px;
    margin-right: 0;
}
.box-a div{
    display: inline-block; /* horizontal blocks of elements*/
}
.box-a div span{
    display: block;
    font-size: 13px;
    margin-left: 20px;
}
.box-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box-b .best{
    background-color: white;
    height: 130px;
    width: 315px;
}
.best h3{
    font-size: 21px;
    margin: 20px;
    margin-bottom: 15px;
}
.best button{
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgb(211, 207, 207);
    color: rgb(43, 42, 42);
    background-color: #ffd814;
    width: 200px;
    margin-left: 20px;
    height: 30px;
    border: none;
}
.box.box-c img{
    margin: 0 20px;
    width: 275px;
    cursor: pointer;
    height: 280px;
}